<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://functionapp120230114054241.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7c908a8e-7399-49c7-8505-c8dd4c305d69/resourcegroups/Practica10/providers/Microsoft.Web/sites/FunctionApp120230114054241</ResourceId>
    <UserName>$FunctionApp120230114054241</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://functionapp120230114054241.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>